@page
@model crud_tz.Pages.ReturnedBooks.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Returned_Books</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Returned_Books.book_id" class="control-label"></label>
                <input asp-for="Returned_Books.book_id" class="form-control" />
                <span asp-validation-for="Returned_Books.book_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Returned_Books.user_id" class="control-label"></label>
                <input asp-for="Returned_Books.user_id" class="form-control" />
                <span asp-validation-for="Returned_Books.user_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Returned_Books.date_issued" class="control-label"></label>
                <input asp-for="Returned_Books.date_issued" class="form-control" />
                <span asp-validation-for="Returned_Books.date_issued" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Returned_Books.due_date" class="control-label"></label>
                <input asp-for="Returned_Books.due_date" class="form-control" />
                <span asp-validation-for="Returned_Books.due_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
